<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container">
        <header class="navigation">
            <ul>
                <li><a class="default-tab" href="./home">Home</a></li>
                <li><a class="current-tab" href="./about">About</a></li>
                <li><a class="default-tab" href="./gallery">Gallery</a></li>
                <li><a class="default-tab" href="./resources">Resources</a></li>
            </ul>
        </header>
        <div class="main-content">
            <h1>Dieter Rams</h1>
            <h3><span>About</span></h3>
            <p>Dieter Rams, born on May 20, 1932 in Wiesbaden, Germany, has left an indelible mark on the field of design. Educated as an architect, Rams joined Braun in 1955 and soon became the chief design officer, a role he retained until 1995. His tenure at Braun led to the creation of iconic designs like the SK-4 record player, the T3 pocket radio, and the 606 Universal Shelving System. Rams is best known for his "Ten Principles of Good Design" - an insightful guideline that champions simplicity, honesty, and restraint in design. His design philosophy was built on the belief that good design should be as "little design as possible", a philosophy that influences both physical and digital design even today. Apple's former chief design officer, Jony Ive, is among the many who have publicly acknowledged Rams' influence on their own work, making Rams' impact a living part of our daily lives.</p>
            <div class="image-cluster"><img src="./image/cover2.jpg" alt="">
            </div>
        </div>
    </div></body>
</html>