<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <div class="container">
        <header class="navigation">
            <ul>
                <li><a class="default-tab" href="./">Home</a></li>
                <li><a class="default-tab" href="./about">About</a></li>
                <li><a class="current-tab" href="./gallery">Gallery</a></li>
                <li><a class="default-tab" href="./resources">Resources</a></li>
            </ul>
        </header>
        <div class="main-content">
            <h1>Dieter Rams</h1>
            <h3><span>Gallery</span></h3>
            <div class="image-cluster fotogrid">
                <div class="card">
                    <img class="card-img" src="./image/work1.jpg" alt="">
                    <h2>Braun T 3</h2>
                    <h3>1958</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work2.jpg" alt="">
                    <h2>Braun T 100 CD</h2>
                    <h3>1968</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work3.jpg" alt="">
                    <h2>Braun TP 1 - Portable Transistor Radio</h2>
                    <h3>1968</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work4.jpg" alt="">
                    <h2>ET 55 control LCD</h2>
                    <h3>1983</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work5.jpg" alt="">
                    <h2>EBraun FS 80</h2>
                    <h3>1964</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work6.jpg" alt="">
                    <h2>Braun TG 60</h2>
                    <h3>1965</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work7.jpg" alt="">
                    <h2>RT 20 Tischsuper Radio</h2>
                    <h3>1961</h3>
                </div>

                <div class="card">
                    <img class="card-img" src="./image/work8.jpg" alt="">
                    <h2>T 1000 World Receiver</h2>
                    <h3>1963</h3>
                </div>

            </div>
        </div>
    </div>
</body>

</html>