<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header class="navigation">
            <ul>
                <li><a class="current-tab" href="/">Home</a></li>
                <li><a class="default-tab" href="/about">About</a></li>
                <li><a class="default-tab" href="/gallery">Gallery</a></li>
                <li><a class="default-tab" href="/resources">Resources</a></li>
            </ul>
        </header>
        <div class="main-content">
            <h1>Dieter Rams</h1>
            <h3><span>Introduction</span></h3>
            <p>Welcome to our tribute to Dieter Rams, one of the most influential designers of the twentieth century.
                Through this site, we aspire to shed light on Rams' life, work, and enduring impact on the world of
                design. From physical products to digital solutions, Rams' principles guide modern design philosophies.
                As you navigate through this site, we hope you will gain a deeper appreciation for Rams' legacy, as well
                as the beauty and functionality of his works.</p>
            <div class="image-cluster"><img src="./image/cover1.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>