<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <header class="navigation">
            <ul>
                <li><a class="default-tab" href="./">Home</a></li>
                <li><a class="default-tab" href="./about">About</a></li>
                <li><a class="default-tab" href="./gallery">Gallery</a></li>
                <li><a class="current-tab" href="./resources">Resources</a></li>
            </ul>
        </header>
        <div class="main-content">
            <h1>Dieter Rams</h1>
            <h3><span>Resources</span></h3>
            <p>For those interested in delving further into the life and work of Dieter Rams, we have curated a
                selection of resources:</p>
            <ul class="resources-list">
                <li>"Dieter Rams: As Little Design as Possible" - <span>A comprehensive book about Rams' life, work,
                        and his ten principles of design.</span></li>
                <li>
                    "Rams" - <span>A documentary by Gary Hustwit featuring in-depth interviews with Rams, providing rare
                        insight into his thoughts on design and his career.</span>
                </li>
                <li>
                    The Braun Collection - <span>A digital archive of Braun products, many of which were designed by
                        Rams.</span>
                </li>
                <li>
                    Vitsoe's website - <span>As the manufacturer of Rams' 606 Universal Shelving System, their website
                        provides insight into Rams' design ethos.</span>
                </li>
                <li>
                    "Less and More: The Design Ethos of Dieter Rams" - <span>This exhibit at the Design Museum in London
                        provides a physical space to appreciate Rams' work.</span>
                </li>
            </ul>
            <p>Please note that external links are provided for convenience and reference. We do not control and are not
                responsible for the content of these sites. Enjoy your exploration into the world of Dieter Rams!</p>
        </div>
    </div>
</body>

</html>